body {
  margin: 0;
  padding: 0;
  background: #2e2e2e;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background: #3a3a3a;
  padding: 30px 20px;
  border-radius: 25px;
  width: 300px;
  text-align: center;
  color: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: contain;
  background: white;
  margin-bottom: -50px;
}

.info {
  background: white;
  color: #333;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.info h2 {
  margin: 10px 0 5px;
  font-size: 22px;
}

.title {
  color: #666;
  margin-bottom: 10px;
  font-weight: bold;
}

.desc {
  font-size: 14px;
  color: #444;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  text-decoration: none;
  background: #505050;
  color: white;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  transition: background 0.3s;
  gap: 10px;
}

.btn:hover {
  background: #686868;
}

.btn span:first-child {
  font-size: 18px;
}
